
<h1>Listing phrases</h1>

<table class="table">
  <tr>
    <th>Id</th>
    <th>Phrase</th>
    <th>Translation</th>
    <th>Categoty</th>
  </tr>

  <% @phrases.each do |phrase| %>
      <%= render phrase %>
  <% end %>

</table>
