= form_for(@phrase) do |f|
    h1 Create Phrase
    .form-group
        = f.label :phrase
        br
        = f.text_field :phrase, :class => 'form-control'

    .form-group
        = f.label :translation
        br
        = f.text_field :translation, :class => 'form-control'

    .form-group
        = f.label :category
        br
        = f.select :category, Phrase::CATEGORIES, {}, { :class => 'form-control' }

    = f.submit 'Submit', :class => 'btn btn-primary'