@import "bootstrap-sprockets";
@import "bootstrap";
@import "phrases";
@import "notifications";
@import "messages";

.alert{
  color: white;
  margin-top: 20px;
  background-color: rgba(255, 0, 0, 0.63);
}

.alert-notice {
  background-color: #00b500;
}

.field_with_errors{
  color: red;
  input {  border-color: red }
}

.m-t-l { margin-top: 30px }

.table {
  th, td { text-align: center; }
  td {
    vertical-align: middle !important;
    font-size: 15px;
  }
  .upvote{ color: green; }
  .downvote{ color: red }
}